/**
* Bill
**/
/* Bill */
.bill {
	width: 814px;
	height: 100%;
	background: #1f1d2b;
	border-radius: 16px 0 0 16px;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0px;
	@include flex(flex-start, flex-start, row);
	animation: fadeInShow 0.5s linear;

	&__hide {
		display: none;
	}

	&__icon {
		display: none;
	}
}

@keyframes fadeInShow {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes fadeInHide {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

/* confirmation */
.confirmation {
	width: 50%;
	height: 100%;
	padding: 24px;
	border-right: 1px solid $border-liner-color;

	&__back {
		margin-bottom: 16px;

		svg {
			width: 24px;
			height: 24px;
			cursor: pointer;

			path {
				stroke: $white-color;
			}
		}
	}

	&__header {
		@extend .header;

		&--btn {
			padding: 14px;
			background-color: $primary-color;
			border-radius: 8px;
			cursor: pointer;

			i {
				font-size: 20px;
				pointer-events: none;
			}
		}
	}

	&__btn {
		@include flex(center, space-between, row);
		margin-top: 10px;

		&--back {
			width: 50%;
			margin-right: 4px;
			border: 1px solid $primary-color;
			border-radius: 8px;
			background-color: transparent;
			color: $primary-color;
			padding: 14px 0;
			transition: background-color 0.4s ease-in, color 0.4s ease-in;

			&:hover {
				background-color: $primary-color;
				color: $white-color;
			}
		}

		&--conf {
			width: 50%;
			margin-left: 4px;
			padding: 14px 0;

			&:hover {
				box-shadow: $box-shadow;
			}
		}
	}
}

/* title */
.title {
	&__conf {
		@extend .header__title--name;
	}

	&__random {
		@extend .header__title--time;
	}
}
