/**
* total
**/
/* total */
.total {
  margin-top: 24px;
  width: 100%;

  &__disscount {
    margin-bottom: 16px;
  }

  &__subTotal,
  &__disscount {
    @include flex(center, space-between, row);
    @include font(400);
    color: #abbbc2;

    &--sum,
    &--total {
      @include font(500, 16px);
      color: $white-color;
    }
  }
}
