/**
* Bill
**/

.bill {
  width: 814px;
  height: 100%;
  background: #1f1d2b;
  border-radius: 16px 16px 0px 16px;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0px;
  @include flex(flex-start, flex-start, row);
  transition: transform 0.5s linear;
  transform: translateX(0%);

  &__hide {
    transform: translateX(100%);
  }
}

.confirmation {
  width: 50%;
  height: 100%;
  padding: 24px;
  border-right: 1px solid $border-liner-color;

  &__back {
    margin-bottom: 16px;

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;

      path {
        stroke: $white-color;
      }
    }
  }

  &__header {
    @extend .header;

    &--btn {
      padding: 14px;
      background-color: $primary-color;
      border-radius: 8px;
      cursor: pointer;

      i {
        font-size: 20px;
        pointer-events: none;
      }
    }
  }

  &__btn {
    @include flex(center, space-between, row);
    margin-top: 10px;

    &--back {
      width: 50%;
      margin-right: 4px;
      border: 1px solid $primary-color;
      border-radius: 8px;
      background-color: transparent;
      color: $primary-color;
      padding: 14px 0;
      transition: background-color 0.4s ease-in, color 0.4s ease-in;

      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }

    &--conf {
      width: 50%;
      margin-left: 4px;
      padding: 14px 0;

      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }
}

.title {
  &__conf {
    @extend .header__title--name;
  }

  &__random {
    @extend .header__title--time;
  }
}

.payment {
  width: 50%;
  margin: 64px 24px 24px;

  &__header {
    margin-bottom: 25px;

    &--conf {
      @extend .header__title--name;
    }

    &--desc {
      @extend .header__title--time;
    }
  }

  &__form {
    @include flex(flex-start, space-between, column);
    border-top: 1px solid $border-liner-color;
    border-bottom: 1px solid $border-liner-color;
  }
}

.form {
  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
    @include font(600, 20px);
    color: $white-color;
  }

  &__select {
    @include flex(center, flex-start, row);

    &--item {
      width: 101px;
      height: 64px;
      border: 1px solid #393c49;
      border-radius: 8px;
      @include flex(center, center, column);
      margin-right: 8px;
      cursor: pointer;
      transition: border 0.4s ease-in;

      &:first-child {
        .form__select--img svg path {
          fill: #abbbc2;
        }
      }

      &:nth-child(2) {
        .form__select--img svg path {
          stroke: #abbbc2;
        }
      }

      &:last-child {
        .form__select--img svg path {
          fill: #abbbc2;
        }
      }

      &:hover {
        border: 1px solid #abbbc2;
      }

      &:first-child:hover {
        .form__select--img svg path {
          fill: $white-color;
        }

        .form__select--name {
          color: white;
        }
      }

      &:nth-child(2):hover {
        .form__select--img svg path {
          stroke: $white-color;
        }

        .form__select--name {
          color: white;
        }
      }

      &:last-child:hover {
        .form__select--img svg path {
          fill: $white-color;
        }

        .form__select--name {
          color: white;
        }
      }
    }

    &--img {
      pointer-events: none;
      svg {
        width: 24px;
        height: 24px;
      }
    }

    &--name {
      @include font(500, 14px, 130%);
      color: #abbbc2;
      pointer-events: none;
    }

    &--active {
      border: 1px solid #abbbc2;
      position: relative;

      &::after {
        content: url(../image/icon/check.svg);
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: $primary-color;
        border-radius: 50%;
      }

      &:first-child {
        .form__select--img svg path {
          fill: $white-color;
        }
      }

      &:nth-child(2) {
        .form__select--img svg path {
          stroke: $white-color;
        }
      }

      &:last-child {
        .form__select--img svg path {
          fill: $white-color;
        }
      }

      .form__select--name {
        color: white;
      }
    }
  }

  &__input {
    @include flex(flex-start, space-between, column);
    margin: 16px 0;
    width: 100%;

    &--title {
      color: $white-color;
      @include font(500, 14px, 130%);
      margin-bottom: 8px;
    }

    &--text {
      width: 100%;
      background: #2d303e;
      border: 1px solid #393c49;
      border-radius: 8px;
      padding: 14px;
      color: #e0e6e9;
      margin-bottom: 16px;
      @include font(400, 14px, 140%);
      outline: none;
    }

    &--text[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &--text[type="date"] {
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
      }
    }
  }
}

.type {
  @include flex(flex-start, space-between, row);
  margin-top: 16px;
  width: 100%;

  &__order {
    width: 50%;
    margin-right: 13px;
    position: relative;

    &:hover &--select-list {
      display: block;
    }

    &--desc {
      color: $white-color;
      @include font(500, 14px, 130%);
    }

    &--select {
      border: 1px solid #393c49;
      border-radius: 8px;
      background: #1f1d2b;
      margin-top: 8px;
      padding: 14px;
      @include font(500, 14px, 130%);
      color: #e0e6e9;
      cursor: pointer;
      position: relative;

      i {
        margin-right: 10px;
      }

      &::after {
        content: "";
        background-color: transparent;
        width: 100%;
        height: 20px;
        position: absolute;
        // top: 10px;
        top: 40px;
        left: 0px;
        z-index: 100;
      }

      &-list {
        width: 100%;
        position: absolute;
        top: -125px;
        // top: 80px;
        left: 0%;
        background-color: #1f1d2b;
        display: none;
      }

      &-item {
        border: 1px solid #393c49;
        padding: 14px;
        text-align: center;
        cursor: pointer;
        @include font(500, 14px, 130%);
        transition: background-color 0.3s linear, border-color 0.3s linear;

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
        }

        &:first-child {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }

        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }

  &__table {
    flex-grow: 1;
    &--desc {
      color: $white-color;
      @include font(500, 14px, 130%);
    }

    &--input {
      border: 1px solid #393c49;
      border-radius: 8px;
      background-color: #2d303e;
      padding: 14px;
      outline: none;
      margin-top: 8px;
      @include font(400, 14px, 130%);
      color: #e0e6e9;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
