/**
* payment
**/
/* payment */
.payment {
  width: 50%;
  margin: 64px 24px 24px;

  &__header {
    margin-bottom: 25px;

    &--conf {
      @extend .header__title--name;
    }

    &--desc {
      @extend .header__title--time;
    }
  }

  &__form {
    @include flex(flex-start, space-between, column);
    border-top: 1px solid $border-liner-color;
    border-bottom: 1px solid $border-liner-color;
  }
}
