/**
  * products
  **/
.title {
  @include font(600, 20px);
  color: $white-color;
  margin-bottom: 34px;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 28px;
  column-gap: 24px;
  height: 450px;
  overflow: auto;
  justify-content: space-between;

  &::-webkit-scrollbar {
    display: none;
  }

  &__note {
    display: flex;
    margin: 50px auto;
    font-size: 50px;
  }

  &__item {
    @include flex(center, space-between, column);
    padding: 24px;
    background: #1f1d2b;
    border-radius: 16px;
    width: 192px;

    &--img {
      width: 132px;
      height: 132px;
      object-fit: cover;
      border-radius: inherit;
      margin-bottom: 16px;
    }

    &--name {
      @include font(500, 14px, 130%);
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 8px;
    }

    &--price {
      @include font(400);
      color: $white-color;
      margin-bottom: 4px;
      font-family: sans-serif;
    }

    &--btn {
      padding: 14px 0;
      text-transform: capitalize;

      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }
}
